<!DOCTYPE html>
<html>
    <head>
        <title>Timesheet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/datepicker/css/datepicker.css" rel="stylesheet" media="screen">
	  <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>

	<style type="text/css">
	  .align-right {
	      text-align: right!important;
	  }

	  th {
	      text-align:center!important;
	  }
	</style>
    </head>
    <body>
        <div class="container">
	  <div class="hero-unit">
	    <h1>{{title.value}}</h1>
	    <p>{{title.tag}}</p>
	    <button id='showdeclared' class="btn btn-primary btn-large">
	      {{title.declared}}
	    </button>
	  </div>
	  <p class="contents">
	  </p>
        </div>
    </body>
    <script type="text/javascript">
      function checkInput(type) {
	  var input = document.createElement("input");
	  input.setAttribute("type", type);
	  var result = input.type == type;
	  delete input;
	  return result;
      }

	  script(
	      "/static/datepicker/js/bootstrap-datepicker.js", 
	      function(){
	          $('body').on('inited', function(){
		      if(!checkInput('date'))
			  $('.datepicker').datepicker(
			      {format:'yyyy-mm-dd'});
		      if($('#showdeclared').text().indexOf("Don't")!=-1){
			  $('.declare').hide();
		      }
		      else{
			  $('.declare').show();
		      }
		  });
	      }
	   );
    </script>
</html>