<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <body>
    <div class="container">
    <h1>Django RT - management</h1>
    <h2>Queues and channels</h2>
    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Channel Id</th>
            <th>Channel contents</th>
        </tr>
        </thead>
        <tbody>
        {% for id, contents in watchlist.iteritems %}
        <tr>
            <td>{{id}}</td>
            <td>
                <ul class="unstyled">
                    {% for val in contents %}
                    <li>{{val}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>