{% extends 'base.html' %}
{% block title %}Django RT - management{% endblock %}
{% block contents %}
    <h1>Django RT - management</h1>
    <h2>Queues and channels</h2>
    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Channel Id</th>
            <th>Channel watchlist</th>
        </tr>
        </thead>
        <tbody>
        {% for id, watchlist in watchlist.iteritems %}
        <tr>
            <td>{{id}}</td>
            <td>
                <ul class="unstyled">
                    {% for val in watchlist %}
                    <li>{{val}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}